@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #00091b;
  color: #dedad6;
}

.border-gradient {
  position: relative;
  background: white;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -0.5px;
  background: linear-gradient(45deg, #ff6ec4, #a6a611, #7873f5, #123456);
  background-size: 200% 200%;
  z-index: -1;
  animation: gradient-border 3s linear infinite;
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.required::after {
  color: red;
  content: "*";
}
